---
import { Moon, Sun } from "lucide-react";
---

<button
  onclick="toggleTheme()"
  data-theme="light"
  id="themeSwitcher"
  class="fixed bottom-5 right-5 w-fit scale-125 rounded-full bg-gray-100 p-1.5 outline-none neon-indigo hover:scale-[1.4] focus:scale-[1.4] active:scale-[1.3] motion-safe:transition-transform dark:bg-gray-950 dark:neon-green"
>
  <span data-icon="light">
    <Sun />
  </span>
  <span data-icon="dark">
    <Moon />
  </span>
</button>

<style>
  #themeSwitcher[data-theme="light"] [data-icon="dark"] {
    display: none;
  }

  #themeSwitcher[data-theme="dark"] [data-icon="light"] {
    display: none;
  }
</style>

<script is:inline>
  const themeSwitcher = document.getElementById("themeSwitcher");

  function setDark() {
    themeSwitcher.dataset.theme = "dark";
    window.localStorage.setItem("theme", "dark");
    document.body.classList.add("dark");
    document.documentElement.style.colorScheme = "dark";
  }

  function setLight() {
    themeSwitcher.dataset.theme = "light";
    window.localStorage.setItem("theme", "light");
    document.body.classList.remove("dark");
    document.documentElement.style.colorScheme = "light";
  }

  function toggleTheme() {
    if (themeSwitcher.dataset.theme === "light") {
      setDark();
    } else {
      setLight();
    }

    document.body.classList.add("no-duration");

    setTimeout(() => document.body.classList.remove("no-duration"), 1);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const localTheme = window.localStorage.getItem("theme");

    if (localTheme)
      if (localTheme === "dark") {
        setDark();
      } else {
        setLight();
      }
    else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.body.classList.add("dark");
    }
  });
</script>

<style is:global>
  .no-duration,
  .no-duration::before,
  .no-duration::after,
  .no-duration *,
  .no-duration *::before,
  .no-duration *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
  }

  #themeSwitcher[data-theme="light"] svg[data-name="moon"] {
    opacity: 0;
  }
</style>
